main {
	display: flex;
	margin-left: 80px;
	margin-bottom: 50px;
}

body {
	background-color: #f3f5fc;
	/*
    background-image: url('assets/enigma-441280.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
    */
}
