* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;
}

.body {
	background-color: #ffffff;
}

.header {
	width: 98%;
	background-color: #ffffff;
	padding: 1em;
	margin: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .logo a {
	margin-right: 0;
	justify-content: center;
}

.header .logo:hover {
	transition-duration: 500ms;
	transform: scale(1.25);
}

.header .nav {
	padding: 1em 0 1em 0;
	justify-content: center;
}

.header .nav a {
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	padding: 0 1em;
	color: black;
}

.header .nav a:hover {
	color: #0000ff;
	text-decoration: underline;
}

.main {
	background-color: #ffffff;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.sectionIzq {
	background: linear-gradient(#f3f5fc, #ffffff);
	padding: 1em;
	margin-left: 0.5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: space-around;
	width: 60%;
	border-radius: 20px;
}

.sectionDer {
	background: linear-gradient(#f3f5fc, #ffffff);
	padding: 1em;
	margin-right: 0.5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: flex-start;
	width: 39%;
	border-radius: 20px;
}

.input-text {
	margin-top: 1em;
	width: 100%;
}

.message {
	margin-top: 1em;
	width: 100%;
	background-image: url('/assets/img/Muñeco.svg');
	background-repeat: no-repeat;
}

.warning {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.warning p {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
	color: #495057;
	opacity: 0.8;
}

.exclamation {
	width: 16px;
}

.instructivo {
}

.instructivo h3 {
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
	text-align: center;
	color: #343a40;
}

.instructivo p {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
	color: #495057;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 1em;
}

.encrypt,
.decrypt,
.copy {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 24px;
	gap: 8px;

	width: 200px;
	height: 75px;
	left: 24px;
	top: 24px;

	background: #0a3871;
	border-radius: 24px;

	transition-duration: 0.4s;
}

.encrypt:hover,
.decrypt:hover,
.copy:hover {
	cursor: pointer;
	background-color: #4caf50;
	color: white;
}

.button-text {
	width: 50px;
	height: 20px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #ffffff;
	flex: auto;
	order: 0;
	flex-grow: 1;
}

.mainAcercaDe {
	background: linear-gradient(#f3f5fc, #ffffff);
	padding: 1em;
	margin: 0.5em;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

h1 {
	font-weight: bolder;
	padding: 0.25em;
	font-size: 2.5em;
}

h2 {
	font-weight: bold;
	padding: 0.25em;
	font-size: 2em;
}

h3 {
	font-weight: normal;
	padding: 0.25em;
	font-size: 1.5em;
}

.tituloRequisitos {
	padding: 0.25em;
	font-size: 1em;
}

.listaRequisitos {
	list-style-type: disc;
}

.itemsRequisitos {
	font-size: 0.75em;
}

.contactForm {
	width: 100%;
	border-radius: 20px;
	background: linear-gradient(#f3f5fc, #ffffff);
	padding: 1em;
	margin: 0.5em;
}

input[type='text'],
select,
textarea {
	width: 100%;
	padding: 1em;
	border: 1px solid #cccccc;
	border-radius: 10px;
	box-sizing: border-box;
	margin-top: 0.5em;
	margin-bottom: 1em;
	resize: vertical;
}

input[type='submit'] {
	background: #0a3871;
	border-radius: 24px;
	color: #ffffff;
	padding: 12px 20px;
	border: none;
	border-radius: 10x;
	cursor: pointer;
}

input[type='submit']:hover {
	cursor: pointer;
	background-color: #4caf50;
	color: white;
}

.footer {
	background: linear-gradient(#ffffff, #f3f5fc);
	padding: 1em;
	text-align: center;
	margin: 20px 0 20px 0;
}

.copyright {
	color: #000000;
	font-size: 20px;
	margin: 20px;
	padding: 25px;
}
